
// Z-index
$zindex_body:           1;
$zindex_app:            10;
$zindex_main:           20;
$zindex_content:        30;
$zindex_sidebar:        40;
$zindex_header:         50;
$zindex_footer:         60;
$zindex_dropdown:       1000;
$zindex_sticky:         2000;
$zindex_fixed:          3000;
$zindex_modal-backdrop: 4000;
$zindex_offcanvas:      5000;
$zindex_modal:          6000;
$zindex_popover:        7000;
$zindex_tooltip:        8000;
$zindex_debug:          10000;
