.app {
    display:               grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-auto-flow:        row;
    grid-auto-rows:        auto;
    grid-gap:              0;
    min-height:            100vh;
    //z-index: var(--zindex-app);
}

.app-container {
    width:        100%;
    max-width:    1200px;
    margin-left:  auto;
    margin-right: auto;
}

/*
@media (min-width: 1400px) {
    .app-container {
        max-width: 1320px;
    }
}

@media (min-width: 1200px) {
    .app-container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .app-container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .app-container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .app-container {
        max-width: 540px;
    }
}*/
