.app-footer {
    //height: var(--app-footer-height);
    min-height: var(--app-footer-height);
    //background-color: var(--color-primary);
    //color: var(--color-primary-font);
    //z-index: var(--zindex-footer);

    .logo {
        height:         3.4em;
        margin-right:   2rem;
        pointer-events: none;
    }
}
